.stats-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.val {
	font-size: large;
	font-weight: bold;
}

.total {
	color: darkblue;
}

.new {
	color: chocolate;
}

.active {
	color: darkorange;
}

.recovered {
	color: cadetblue;
}

.death {
	color: red;
}