<div class="card">
  <div class="card-title" *ngIf="district">
    <span *ngFor="let category of district">
      {{ category }}
    </span>
  </div>

  <div class="card-title" *ngIf="!district">
    Choose a district
  </div>
  <div class="card-body">
    <ul class='category-list'>
      <li *ngFor="let institution of all_institutions let i = index">
        <div>
          <input type="checkbox" id="{{ 'checkbox' + i }}" [(ngModel)]="institution.isChecked"
            (change)="changeSelection()">
          <label for="{{ 'checkbox' + i }}"> {{ institution.name }}</label>
        </div>
      </li>
    </ul>
  </div>
</div>
