<div class="card chart-total-active">
  <div class="card-title">
    Total vs Active Cases (SL)
  </div>
  <div class="card-body">

    <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [title]="chartOptions.title"
      [markers]="chartOptions.markers" [yaxis]="chartOptions.yaxis" [fill]="chartOptions.fill"
      [legend]="chartOptions.legend" [colors]="chartOptions.colors"></apx-chart>
  </div>
</div>
