<div class="row">
  <div class="col-lg-6">
    <div class="card information-center">
      <div class="card-title">
        Learn more about coronavirus (COVID-19)<br>
        <small>
          Recognized Health Organizations
        </small>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <a href="https://www.hpb.health.gov.lk/" target="_blank">
              Health Promotion Bureau
              <span>
                Government Organization
              </span>
            </a>
          </li>

          <li>
            <a href="https://www.who.int/southeastasia" target="_blank">
              WHO South-East Asia Region
              <span>Nonprofit Organization</span>
            </a>
          </li>

          <li>
            <a href="https://www.unicef.org/srilanka/" target="_blank">
              UNICEF Sri Lanka
              <span>Nonprofit Organization</span>
            </a>
          </li>

          <li>
            <a href="https://www.worldometers.info/coronavirus/" target="_blank">
              World Spread of COVID 19
              <span>Information center</span>
            </a>
          </li>




        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card prevention-tips">
      <div class="card-title">
        Common Prevention Tips<br>
        <small>Help stop the spread of COVID-19</small>
      </div>

      <div class="card-body">

        <ul>
          <li>
            <img src="/assets/images/icons/2.svg" alt="">
            Listen for instructions from your local government about staying home

          </li>
          <li>
            <img src="/assets/images/icons/1.svg" alt=""> Keep a safe distance from others

          </li>
          <li>
            <img src="/assets/images/icons/3.svg" alt=""> Clean hands often and disinfect frequently touched surfaces at
            home

          </li>
          <li>
            <img src="/assets/images/icons/4.svg" alt=""> Don't touch your eyes, nose or mouth

          </li>
          <li>
            <img src="/assets/images/icons/3.svg" alt=""> Cover coughs and sneezes with your elbow or tissue
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
