<div class="card data-map-card">
  <div class="card-title">
    Islandwide Confirmed Cases
  </div>
  <div class="card-body">

    <div class="map-marker-selection">
      <ul>
        <li>
          <div>
            <input type="radio" name="map-marker-data">
            <label for="">District-wise covid cases </label>
          </div>
        </li>
        <li>
          <div>
            <input type="radio" name="map-marker-data">
            <label for="">PCR Test centers</label>
          </div>
        </li>

        <li>
          <div>
            <input type="radio" name="map-marker-data">
            <label for="">Active Drones</label>
          </div>
        </li>
      </ul>

    </div>

    <google-map [center]="center" [zoom]="zoom">
      <map-marker #marker *ngFor="let hospital of hospitals" [position]="hospital.location" [title]="hospital.name">
      </map-marker>
      <map-marker #marker *ngFor="let i of district_infections" [position]="i.location" [label]='i.label_options'
        [title]="i.title" [options]='i.marker_options' (mapMouseover)="openInfoWindow(marker,i.title)">
        <map-info-window>
          <h4>
            {{ district_name }}
          </h4>
        </map-info-window>
      </map-marker>

    </google-map>

  </div>
</div>
