<div class="card data-map-card">
  <div class="card-title">
    Islandwide Confirmed Cases
  </div>
  <div class="card-body">
    <!-- <div class="map-marker-selection">
      <ul>
        <li>
          <div>
            <input [ngModel]="mapType" value="district" type="radio" id="district-markers"
              (click)="updateMarkers('district')" name="mapType">
            <label for="district-markers">District-wise covid cases </label>
          </div>
        </li>
        <li>
          <div>
            <input type="radio" [ngModel]="mapType" id="pcr-centers" (click)="updateMarkers('pcr')" value="pcr"
              name="mapType">
            <label for="pcr-centers">PCR Test centers</label>
          </div>
        </li>

        <li>
          <div>
            <input type="radio" [ngModel]="mapType" id="active-drones" (click)="updateMarkers('drones')" value="drones"
              name="mapType">
            <label for="active-drones">Active Drones</label>
          </div>
        </li>
      </ul>

    </div> -->

    <google-map [center]="center" [zoom]="zoom">
      <!-- <map-marker #marker *ngFor="let hospital of hospitals" [position]="hospital.location" [title]="hospital.name">
      </map-marker> -->
      <map-marker
        #marker
        *ngFor="let i of district_infections"
        [options]="i"
        (mapMouseover)="openInfoWindow(marker, i.title)"
      >
        <map-info-window>
          <h4>
            {{ district_name }}
          </h4>
        </map-info-window>
      </map-marker>
      <map-marker
        #droneMarker
        *ngFor="let markerPosition of dronePositions"
        [options]="markerPosition"
        [position]="markerPosition.position"
        (mapMouseover)="openInfoWindow(droneMarker, 'kkkk')"
      >
        <map-info-window>
          <h4>sadasdasd</h4>
        </map-info-window>
      </map-marker>
    </google-map>
  </div>
</div>
