<div class="card data-map-card">
  <div class="card-title">
    Islandwide Confirmed Cases
  </div>
  <div class="card-body">
    <google-map [center]="center" [zoom]="zoom">
      <map-marker #marker *ngFor="let hospital of hospitals" [position]="hospital.location" [title]="hospital.name">
      </map-marker>
      <map-marker #marker *ngFor="let i of district_infections" [position]="i.location" [label]='i.label_options'
        [title]="i.title" [options]='i.marker_options' (mapMouseover)="openInfoWindow(marker,i.title)">
        <map-info-window>
          <h4>
            {{ district_name }}
          </h4>
        </map-info-window>
      </map-marker>

    </google-map>

  </div>
</div>
