<!-- <app-lanka-daily></app-lanka-daily>
<app-twitter-component></app-twitter-component> -->


<header>
  <img src="/assets/images/covid19.svg" alt="">
  <div class="sub-logo">
    <img src="/assets/images/covid19.svg" alt="">
  </div>
  <h2>
    Coronavirus (COVID-19) Situational Report - Sri Lanka
  </h2>
</header>


<article class="container-fluid">

  <div class="row">
    <div class="col-lg-3">
      <app-status-component>
      </app-status-component>
    </div>
    <div class="col-lg-6 position-relative">
      <div class="selected-district">
        <app-district-details [district]="selectedDistrict">
        </app-district-details>
      </div>
      <app-map (selectedDistrict)="changeSelectedDistrict($event)" [hospitals]='selectedHospitals'>
      </app-map>
    </div>
    <div class="col-lg-3">
      <app-hospitals (selectedHospitals)="updateHospitals($event)">
      </app-hospitals>

      <app-district-cases></app-district-cases>




      <!-- <app-global-news-component></app-global-news-component> -->
    </div>
  </div>
  <div class="row">

    <div class="col-lg-3">
      <app-chart-new-cases>
      </app-chart-new-cases>
    </div>
    <div class="col-lg-6">
      <app-chart-total-active>
      </app-chart-total-active>
    </div>
    <div class="col-lg-3">
      <app-chart-daily-recovery>
      </app-chart-daily-recovery>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">

    </div>

    <div class="col-lg-6">
      <!-- <app-news-component></app-news-component> -->
    </div>
    <div class="col-lg-3">

    </div>
  </div>

</article>
