<!-- <app-lanka-daily></app-lanka-daily>
<app-twitter-component></app-twitter-component> -->


<app-header></app-header>
<article class="container-fluid">

  <div class="row">
    <div class="col-lg-3">
      <app-current-status>
      </app-current-status>
    </div>
    <div class="col-lg-6 position-relative">
      <!-- <app-district-details [district]="selectedDistrict">
        </app-district-details> -->
      <app-map (selectedDistrict)="changeSelectedDistrict($event)" [hospitals]='selectedHospitals'>
      </app-map>
      <app-info-center></app-info-center>
    </div>
    <div class="col-lg-3">
      <!-- <app-hospitals (selectedHospitals)="updateHospitals($event)">
      </app-hospitals> -->
      <app-global-news-component></app-global-news-component>
      <app-district-cases></app-district-cases>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-3">
      <app-chart-new-cases>
      </app-chart-new-cases>
    </div>
    <div class="col-lg-6">
      <app-chart-total-active>
      </app-chart-total-active>
    </div>
    <div class="col-lg-3">
      <app-chart-daily-recovery>
      </app-chart-daily-recovery>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">

    </div>

    <div class="col-lg-6">
      <!-- <app-news-component></app-news-component> -->
    </div>
    <div class="col-lg-3">

    </div>
  </div>

</article>

<app-footer>
</app-footer>
