<!-- <div class="container">

	<app-map class='map' (selectedDistrict)="changeSelectedDistrict($event)" [hospitals]='selectedHospitals'></app-map>

	<div class='left-column'>
		<app-hpb class='cards'></app-hpb>
		<app-lanka-daily class='cards'></app-lanka-daily>
		<app-hospitals class='cards' (selectedHospitals)="updateHospitals($event)"></app-hospitals>
	</div>

	<div class='right-column'>
		<app-district-details class='cards' [district]="selectedDistrict" ></app-district-details>
  </div>

	<div class='right-column'>
    <app-district-details class='cards' [district]="selectedDistrict" ></app-district-details>
    <app-stack-component class='cards'></app-stack-component>
	</div>

</div> -->
<!-- <div class="main-css-grid">

  <div class="cards">
    <div class="card" style="height: 375px;">
      <app-map class='map' (selectedDistrict)="changeSelectedDistrict($event)" [hospitals]='selectedHospitals'>
      </app-map>
    </div>
    <div class="card" style="width: 300px;">
      <app-district-details class='cards' [district]="selectedDistrict"></app-district-details>
    </div>
    <div class="card">
      <app-hospitals class='cards' (selectedHospitals)="updateHospitals($event)"></app-hospitals>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <app-hpb class='cards'></app-hpb>
    </div>
    <div class="card">
      <app-lanka-daily class='cards'></app-lanka-daily>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <app-twitter-component></app-twitter-component>
    </div>
    <div class="card">
      <app-news-component></app-news-component>
    </div>
  </div>
</div> -->


<div class="container">

  <table style="position: absolute; justify-self: baseline;place-self: first baseline;">
    <tr>
      <td>
        <div style="position: relative;">
          <div class="cards" id="models">

            <div class="card" style="width: 200px;">
              <app-hpb class='cards'></app-hpb>
            </div>
            <div class="card" style="height: 375px;">
              <app-map class='map' (selectedDistrict)="changeSelectedDistrict($event)" [hospitals]='selectedHospitals'>
              </app-map>
            </div>
            <div class="card" style="width: 300px;">
              <app-district-details class='cards' [district]="selectedDistrict"></app-district-details>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="position: relative;">
          <div class="cards">
            <div class="card">
              <app-hospitals class='cards' (selectedHospitals)="updateHospitals($event)"></app-hospitals>
            </div>
            <div class="card">
              <app-lanka-daily class='cards'></app-lanka-daily>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="position: relative;">
          <div class="cards">
            <div class="card">
              <app-twitter-component></app-twitter-component>
            </div>
            <div class="card">
              <app-news-component></app-news-component>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>

</div>


<!-- <div class="card"> -->



<!-- <form class="checkout" onsubmit="" id="checkout_form">
                          <div class="checkout-header">
                              <h1 class="checkout-title">
                                  Check-out
                                  <span class="checkout-price">>></span>
                              </h1>
                          </div>
                          <p>
                              <input type="text" class="checkout-input checkout-name" placeholder="PASSPORT" autofocus>
                              <input type="text" class="checkout-input checkout-exp" placeholder="DD">
                              <input type="text" class="checkout-input checkout-exp" placeholder="MM">
                              <input type="text" class="checkout-input checkout-exp" placeholder="YY">
                          </p>
                          <p>
                              <input type="text" class="checkout-input checkout-name" placeholder="Your name" autofocus>
                              <input type="text" class="checkout-input checkout-exp" placeholder="MM">
                              <input type="text" class="checkout-input checkout-exp" placeholder="YY">
                          </p>
                          <p>
                              <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111">
                              <input type="text" class="checkout-input checkout-cvc" placeholder="CVC">
                          </p>
                          <p>
                              <input type="button" value="CHECK-OUT" class="checkout-btn" id="checkout_btn">
                          </p>
                      </form> -->

<!-- </div> -->
