<div class="card daily-recovery-card">
  <div class="card-title">
    Daily Recovery
  </div>
  <div class="card-body">
    <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title" [markers]="chartOptions.markers"
      [yaxis]="chartOptions.yaxis" [fill]="chartOptions.fill" [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions" [dataLabels]="chartOptions.dataLabels">
    </apx-chart>
  </div>
</div>
