<table style="position: absolute; justify-self: baseline;place-self: first baseline;">
  <tr>
      <td>
          <div style="position: relative;">
              <div class="cards" id="models">
                  <div class="card">
                      <video style="display: none;" id="video_camera" autoplay>identified</video>
                      <canvas style="display: none;" id="c1" width="160" height="96"></canvas>
                      <canvas id="c2" style="width: 100%;height: 100%;"></canvas>
                  </div>
                  <div class="card">

                      <form class="checkout" onsubmit="" id="checkin_form">
                          <div class="checkout-header">
                              <h1 class="checkout-title">
                                  Check-in
                                  <span class="checkout-price">>></span>
                              </h1>
                          </div>
                          <p>
                              <input type="text" class="checkout-input checkout-name" placeholder="PASSPORT" autofocus>
                              <input type="text" class="checkout-input checkout-exp" placeholder="DD">
                              <input type="text" class="checkout-input checkout-exp" placeholder="MM">
                              <input type="text" class="checkout-input checkout-exp" placeholder="YY">
                          </p>
                          <p>
                              <input type="text" class="checkout-input checkout-name" placeholder="Your name" autofocus>
                              <input type="text" class="checkout-input checkout-exp" placeholder="MM">
                              <input type="text" class="checkout-input checkout-exp" placeholder="YY">
                          </p>
                          <p>
                              <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111">
                              <input type="text" class="checkout-input checkout-cvc" placeholder="CVC">
                          </p>
                          <p>
                              <input type="button" value="" class="checkout-btn" id="checkin_btn">
                          </p>
                      </form>

                  </div>
              </div>
          </div>
      </td>
  </tr>
  <tr>
      <td>
          <div style="position: relative;">
              <div class="cards">
                  <div class="card">



                      <form class="checkout" onsubmit="" id="checkout_form">
                          <div class="checkout-header">
                              <h1 class="checkout-title">
                                  Check-out
                                  <span class="checkout-price">>></span>
                              </h1>
                          </div>
                          <p>
                              <input type="text" class="checkout-input checkout-name" placeholder="PASSPORT" autofocus>
                              <input type="text" class="checkout-input checkout-exp" placeholder="DD">
                              <input type="text" class="checkout-input checkout-exp" placeholder="MM">
                              <input type="text" class="checkout-input checkout-exp" placeholder="YY">
                          </p>
                          <p>
                              <input type="text" class="checkout-input checkout-name" placeholder="Your name" autofocus>
                              <input type="text" class="checkout-input checkout-exp" placeholder="MM">
                              <input type="text" class="checkout-input checkout-exp" placeholder="YY">
                          </p>
                          <p>
                              <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111">
                              <input type="text" class="checkout-input checkout-cvc" placeholder="CVC">
                          </p>
                          <p>
                              <input type="button" value="CHECK-OUT" class="checkout-btn" id="checkout_btn">
                          </p>
                      </form>

                  </div>
                  <div class="card">
                      <img id="encodeQR" class="checkout" />
                  </div>
              </div>
          </div>
      </td>
  </tr>
</table>
