@import "var";
@import "normalize";
@import "header";

div.card {
  background: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(210, 210, 210, 0.50);
  border-radius: 4px;
  margin-bottom: 30px;

  div.card-title {
    font-size: 16px;
    color: #000;
    background: #fff;
    border-bottom: thin solid #DADADA;
    font-weight: 700;
    text-align: left;
    border-radius: 4px 4px 0 0;
    padding: 10px 15px;
    margin: 0px;
  }

  div.card-sub-title {


    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    text-align: left;
  }

  &.data-current-card {
    div.card-title {
      background: #FA585B;
      color: #fff;
    }
  }

  &.chart-total-active {
    div.card-title {
      background: $c-blue;
      color: #fff;
      text-align: center;
    }
  }

}

div.data-current-card {

  div.data-current,
  div.data-today {
    display: flex;
    justify-content: space-between;
  }

  div.data-card {
    border: thin solid #ebebeb;
    min-width: 160px;
    border-radius: 6px;
    padding: 15px;
    margin: 0px 0px 20px 0px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, .12);

    p {
      color: #000;
      font-size: 12px;
      display: block;
      margin: 0px 0px 0px 0px;
    }

    div.text-count {
      font-size: 30px;
      font-weight: 700;
    }
  }

  div.data-confirmed,
  div.data-new-cases {
    background: lighten($c-red, 30%);
    border: thin solid $c-red;

    div.text-count {
      color: $c-red;
    }

  }

  div.data-recovered,
  div.data-new-recovered {
    background: lighten($c-green, 40%);
    border: thin solid $c-green;

    div.text-count {
      color: $c-green;
    }
  }

  div.data-deaths,
  div.data-new-deaths {
    background: lighten($c-black, 75%);
    border: thin solid $c-black;

    div.text-count {
      color: $c-black;
    }
  }

  div.data-hospitalized {
    background: lighten($c-orange, 40%);
    border: thin solid $c-orange;

    div.text-count {
      color: $c-orange;
    }

  }

  div.data-growth-rate {
    background: lighten($c-blue, 40%);
    border: thin solid $c-blue;

    div.text-count {
      color: $c-blue;
    }
  }
}

div.district-cases-card {
  div.card-title {
    background: $c-red;
    color: #fff;

  }
}

div.data-map-card {

  div.card-title {
    color: #fff;
    background: #000;
    text-align: center;
    border: none;
  }

  div.card-body {
    padding: 0px;
  }

  .map-container {
    width: 100% !important;
    height: 860px !important;

    h4 {
      font-size: 14px;
    }
  }
}

.covid-articles-card {

  a {
    display: block;
    text-decoration: none;
  }

  div.news-card {
    border: none;

    div.card-body {
      padding: 0px;
    }
  }

  div.article-img {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  h3.article-title {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
  }

  div.article-desc {
    font-size: 12px;
    color: #666;
  }
}


div.selected-district {
  position: absolute;
  z-index: 3000;
  width: 220px;
  padding: 20px;
  right: 10px;
  top: 80px;

  .card {
    box-shadow: none;

    div.card-title {
      font-size: 14px;

      span {
        display: block;
      }
    }

    div.card-body {
      padding: 15px;
    }

    ul {
      margin: 0px;
    }

    ul li {
      list-style: none;
      font-size: 12px;
      cursor: pointer;
      color: #666;

      &:hover {
        color: #000;
      }

      input {
        margin-right: 10px;
      }
    }
  }
}

div.hospital-category-card {

  div.card-title {
    background: #eee;
  }

  ul {
    margin: 0px;

    li {
      font-size: 13px;
      color: #666;
      list-style: none;

      input {
        margin-right: 10px;
      }

      &:hover {
        color: #000;
      }
    }
  }
}

div.daily-active-card {
  div.card-title {
    text-align: center;
    color: #fff;
    background: lighten($c-orange, 0%);
  }
}

div.daily-recovery-card {
  div.card-title {
    text-align: Center;
    color: #fff;
    background: lighten($c-green, 0%);
  }
}


div.card.news-card {
  position: relative;

  div.card-title {
    background: $c-red;
    color: #fff;
  }

  div.card-body {
    overflow-y: scroll;
    height: 486px;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 20px;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      padding: 15px;
      transition: .1s ease;

      &:active {
        transform: scale(.96);
      }

      a {
        display: block;
        text-decoration: none;



      }

      div.d-flex {
        flex-direction: row-reverse;


      }

      div.news-body {
        padding-right: 15px;
        width: 260px;
      }

      .news-img {
        width: auto;
        height: 100px;
        border-radius: 6px;
        overflow: hidden;



        img {
          height: 100%;

          outline: 0;
          border: none;
        }


      }

      div.news-info {
        display: flex;
        justify-content: space-between;
      }

      div.news-date {
        font-size: 12px;
        color: $c-red;
      }

      div.news-author {
        img {
          height: 26px;
        }
      }

      h3 {
        font-size: 16px;
        color: #000;
        text-decoration: none;
      }

      p {
        font-size: 12px;
        color: #666;
        text-decoration: none;

      }
    }

    li:nth-child(odd) {}

    li:nth-child(even) {
      div.d-flex {
        display: block !important;
        flex-direction: row-reverse;
      }

      div.news-body {
        padding: 15px 0px 0px 0px;
        width: auto;
      }

      .news-img {
        height: 120px;
        width: 100%;
        border-radius: 6px 6px 0px 0px;
        border: thin solid #d9d9d9;

        img {
          width: 100%;
          height: auto;
        }
      }

    }
  }
}
